@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

body{
 /** background-color:#d6b10e; **/
  min-height: 100vh;
 /*  background-color: #c7ecf86e; */
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}

@keyframes slideOut {
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-500px);
  }
  30%{
    transform: translateX(-500px);
  }
  40%{
    transform: translateX(-1000px);
  }
  50%{
    transform: translateX(-1000px);
  }
  60%{
    transform: translateX(-1500px);
  }
  70%{
    transform: translateX(-1500px);
  }

  80%{
    transform: translateX(-2000px);
  }
  90%{
    transform: translateX(-2000px);
  }

  100%{
    transform: translateX(0);
  }
  
}